<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block 'title'}}{{/block}}</title>
</head>
<body>
    <header>
        <img src="https://img12.360buyimg.com/babel/jfs/t1/120645/29/16758/89130/5f9c0a9fEda94ab2a/c5c2c5a0ccdd4af5.jpg.webp" alt="">
    </header>
    <main>
        {{block 'main'}}{{/block}}
    </main>
    <footer>
        <img src="https://img12.360buyimg.com/babel/jfs/t1/144153/30/12665/114617/5f9c0ad5E63e389cd/b28cdc00feb248b5.jpg.webp" alt="">
    </footer>
</body>
</html>