<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <ul>
            <li v-for="item in names">{{item}}</li>
        </ul>
        <ul>
            <li v-for="(item,index) in names">{{index+1}}.{{item}}</li>
        </ul>
        <ul>
            <li v-for="(item,index) in list" :key="item.id">{{index+1}}:{{item.name}}</li>
        </ul>
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                message: "你好世界",
                names: ['a', 'b', 'c', 'd'],
                person: {
                    name: 'xiaoming',
                    age: 18,
                    height: 1.88
                },
                list: [
                    { id: 1, name: 'zhangsan' },
                    { id: 2, name: 'lisi' },
                    { id: 3, name: 'xiaoming' }
                ]
            }
        })
    </script>
</body>

</html>