<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <script src="vue.js"></script>
    <style>
        table{
            border: 1px solid #e9e9e9;
            border-collapse: collapse;
            border-spacing: 0;
            
        }
        th, td {
            padding: 8px 16px;
            border: 1px solid #e9e9e9;
            text-align: center;
        }
        th{
            background-color: #f7f7f7;
            color: #5c6b77;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-if="books.length">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>书籍名称</th>
                        <th>出版日期</th>
                        <th>价格</th>
                        <th>购买数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(n,i) in books">
                        <!-- <td v-for="i in n">{{i}}</td> -->
                        <td>{{n.id}}</td>
                        <td>{{n.name}}</td>
                        <td>{{n.date}}</td>
                        <!-- <td>{{n.price}}</td> -->
                        <!-- <td>{{pr(n.price)}}</td> -->
                        <td>{{n.price | sp}}</td> 
                        <td>
                            <button @click="dec(i)" :disabled="n.count <= 1">-</button>
                            {{n.count}}
                            <button @click="inc(i)">+</button>
                        </td>
                        <td><button @click="remove">移除</button></td>
                    </tr>
                </tbody>
            </table>
            <h2>总价格：{{totalP | sp}}</h2>
        </div>
        <h2 v-else>购物车为空</h2>
    </div>


    <script>
      const app = new Vue({
          el: "#app",
          data:{
              books: [
                  {
                      id:1,
                      name:'《算法》',
                      date:'2006-9',
                      price:95.00,
                      count:1
                  },
                  {
                      id:2,
                      name:'《加法》',
                      date:'1906-9',
                      price:35.00,
                      count:1
                  },
                  {
                      id:3,
                      name:'《减法》',
                      date:'2012-9',
                      price:15.30,
                      count:1
                  },
                  {
                      id:4,
                      name:'《乘法》',
                      date:'2019-9',
                      price:44.10,
                      count:1
                  },
                  {
                      id:5,
                      name:'《除法》',
                      date:'2021-9',
                      price:15.80,
                      count:1
                  }
              ]

          },
          methods:{
              pr(price){
                  return '￥'+price.toFixed(2)
              },
              dec(i){
                  this.books[i].count--

              },
              inc(i){
                this.books[i].count++
                  
              },
              remove(i) {
                this.books.splice(i,1)
              }
          },
          computed:{
            totalP(){
                // let totalP = 0
                // for(let i=0; i<this.books.length;i++){
                //     totalP += this.books[i].price * this.books[i].count
                // }
                // return totalP

                // let totalP = 0
                // for(let i in this.books){
                //     totalP += this.books[i].price * this.books[i].count
                // }
                // return totalP

                // let totalP = 0
                // for(let n of this.books){
                //     totalP += n.price * n.count
                // }
                // return totalP

                return this.books.reduce(function(p,n){
                    return p + n.price*n.count
                },0)
                
            }
          },
          filters: {
            sp(price){
                return '￥'+price.toFixed(2)
            }
          }
      })




    </script>
</body>
</html>