<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model='keyWord'>
        <ul>
            <li v-for='(item,index) in filPersons' :key='index'>
                {{item.name}}-{{item.age}}-{{item.gender}}
            </li>
        </ul>
    </div>
    <script>
        //#region
        // new Vue({
        //     el: '#app',
        //     data:{
        //         keyWord: '',
        //         persons: [
        //             {id:'001',name:'张天王',age:23,gender:'女'},
        //             {id:'002',name:'王二小',age:21,gender:'女'},
        //             {id:'003',name:'小金刚',age:20,gender:'男'},
        //             {id:'004',name:'小钢炮',age:25,gender:'女'},
        //         ],
        //         filPersons: []
        //     },
            // watch:{
            //     keyWord: {
            //         immediate: true,
            //         handler(val){
            //             console.log(val);
            //             this.filPersons= this.persons.filter((p)=>{
            //                 return p.name.indexOf(val) !== -1
            //             })
            //         }
            //     }
            // }
        // })
        //#endregion
        new Vue({
            el: '#app',
            data:{
                keyWord: '',
                persons: [
                    {id:'001',name:'张天王',age:23,gender:'女'},
                    {id:'002',name:'王二小',age:21,gender:'女'},
                    {id:'003',name:'小金刚',age:20,gender:'男'},
                    {id:'004',name:'小钢炮',age:25,gender:'女'},
                ]
            },
            computed: {
                filPersons(){
                    return this.persons.filter((per) => {
                        return per.name.indexOf(this.keyWord) !== -1
                    })
                }
            }
        })
    </script>
</body>
</html>